body {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  font-size: 14px;
  color: rgb(34, 34, 34);
}

::selection {
  background-color: #e85333;
}

.city {
  display: flex;
}

.cities,.footer-section {
  display: flex;
  flex-wrap: wrap;
}

.cities>*,.footer-section>* {
  flex: 25%;
}

.explore-img {
  width: 64px;
  height: 64px;
  border-radius: 5px;
}

.card-img {
  width: 267px;
  height: 267px;
  border-radius: 5px;
}

a p, a b  {
  color: rgb(34, 34, 34);
  line-height: 22px;
}

a p {
  font-size: 18px;
}

a b {
  font-size: 14px;
}

.footer-link {
  font-size: 13.25px;
}

a , a:hover{
  text-decoration: none;
}

.experience-img {
  width: 361.333px;
  height: 361.333px;
  border-radius: 5px;
}

.exp-paragraph {
  margin-top: -13px;
}

